@model AuthApp.Models.Clientes

@{
    ViewData["Title"] = "Novo Cliente";
}
<div class="container w-75 shadow rounded mt-5 mb-5 pb-5">
        <form asp-action="Create" class="row g-3 needs-validation" novalidade >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-6">
                <label asp-for="Nome"></label>
                <input asp-for="Nome" class="form-control" required />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="col-md-2">
                <label asp-for="Telefone"></label>
                <input asp-for="Telefone" class="form-control"  required />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                 <label asp-for="email"></label>
                 <input asp-for="email" class="form-control" required />
                 <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label asp-for="CNPJ" class="control-label"></label>
                <input asp-for="CNPJ" class="form-control" />
                <span asp-validation-for="CNPJ" class="text-danger"></span>
            </div>
            <div class="col-md-5">
                <label asp-for="Endereço" class="control-label"></label>
                <input asp-for="Endereço" class="form-control" />
                <span asp-validation-for="Endereço" class="text-danger"></span>
            </div>
            <div class="col-md-2">
                <label asp-for="Numero" class="control-label"></label>
                <input asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="col-md-2">
                <label asp-for="Complemento" class="control-label"></label>
                <input asp-for="Complemento" class="form-control" />
                <span asp-validation-for="Complemento" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label asp-for="Bairro" class="control-label"></label>
                <input asp-for="Bairro" class="form-control" />
                <span asp-validation-for="Bairro" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Cidade" class="control-label"></label>
                <input asp-for="Cidade" class="form-control" />
                <span asp-validation-for="Cidade" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
           <!--
                <option selected>Escolha...</option>
            <option>Acre</option>
            <option>Amazonas</option>
            <option>Amapá</option>
            <option>Bahia</option>
            <option>Ceará</option>
            <option>Distrito Federal</option>
            <option>Espírito Santo</option>
            <option>Goiás</option>
            <option>Maranhão</option>
            <option>Mato Grosso</option>
            <option>Mato Grosso do Sul</option>
            <option>Minas Gerais</option>
            <option>Pará</option>
            <option>Paraíba</option>
            <option>Paraná</option>
            <option>Pernambuco</option>
            <option>Paiuí</option>
            <option>Rio de Janeiro</option>
            <option>Rio Grande do Norte</option>
            <option>Rio Grande do Sul</option>
            <option>Rondônia</option>
            <option>Rorâima</option>
            <option>Santa Catarina</option>
            <option>São Paulo</option>
            <option>Sergipe</option>
            <option>Tocantins</option>

       -->
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="col-md-2">
                <label asp-for="CEP" class="control-label"></label>
                <input asp-for="CEP" class="form-control" />
                <span asp-validation-for="CEP" class="text-danger"></span>
            </div>
        <div class="d-grid gap-2 col-1 mx-auto">
            <input type="submit" value="Adicionar" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-secondary">Voltar</a>
        </div>
       </form>
</div>
           
   
       




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
